.screen_fix {}

@media (min-width: 993px) {
  .screen_fix {
    padding-top: 300px;
  }
  
}

@media (min-width: 1367px) {
  .screen_fix {
    padding-top: 200px;
  }
}

.about-section-screen-fix {}
@media (min-width: 993px) and  (max-width: 1439px) {
  .about-section-screen-fix {
    padding-top: 200px;
  }
}

.pointer {
  cursor: pointer;
}